<nav  style="">
<div class="slds-context-bar">
    <div class="slds-context-bar__primary">
        <div class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger_click slds-no-hover">
            <div class="slds-context-bar__icon-action">


                <img src="/assets/logos/salesforce_partnerlogo_vert_space.png" alt="SFDC Partners" style="padding-bottom:13%;" />

            </div>
            <span class="slds-context-bar__label-action slds-context-bar__app-name">
                <span class="" title="App Name">Project Sparkle</span>
            </span>
        </div>
    </div>
    <nav class="slds-context-bar__secondary" role="navigation">
        <ul class="slds-grid">
            <li class="slds-context-bar__item">
                <a href="/" class="slds-context-bar__label-action" title="Home">
                    <span class="slds-truncate" title="Home">Home</span>
                </a>
            </li>

            <li class="slds-context-bar__item">
                <a href="/installation" class="slds-context-bar__label-action" title="Menu Item">
                    <span class="slds-truncate" title="Menu Item">Installation</span>
                </a>
            </li>
            <li class="slds-context-bar__item">
                <a href="/architecture" class="slds-context-bar__label-action" title="Menu Item">
                    <span class="slds-truncate" title="Menu Item">Architecture</span>
                </a>
            </li>
            <li class="slds-context-bar__item">
                <a href="/help" class="slds-context-bar__label-action" title="Menu Item">
                    <span class="slds-truncate" title="Menu Item">Help</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
</nav>