<nav >
            <!-- Vertical Navigation Menu -->


            <div class="demo-only" style="; padding-top: 5.5rem">
                <nav class="slds-nav-vertical" aria-label="Sub page">
                    <div class="slds-form-element slds-p-horizontal_large">
                        <label class="slds-form-element__label slds-assistive-text" for="input-id-01">Filter navigation items</label>
                        <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_left">
                            <svg class="slds-icon slds-input__icon slds-input__icon_right slds-icon-text-default" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search" />
                            </svg>
                            <input type="search" id="input-id-01" placeholder="Quick Find" class="slds-input" />
                        </div>
                    </div>
                    <div class="slds-nav-vertical__section">
                        <h2 id="entity-header" class="slds-nav-vertical__title slds-text-title_caps">Lightning Components</h2>
                        <ul>
                            <li id="canvasApp" class="slds-nav-vertical__item">
                                <a href="/canvasapp" class="slds-nav-vertical__action" aria-describedby="entity-header"
                                    aria-current="page">CanvasApp</a>
                            </li>
                            <li class="slds-nav-vertical__item">
                                <a href="/dynamicsearch" class="slds-nav-vertical__action" aria-describedby="entity-header">DynamicSearch</a>
                            </li>
                            <li class="slds-nav-vertical__item">
                                <a href="/filesviewer" class="slds-nav-vertical__action" aria-describedby="entity-header">FilesViewer</a>
                            </li>
                            <li class="slds-nav-vertical__item">
                                <a href="/historytimeline" class="slds-nav-vertical__action" aria-describedby="entity-header">HistoryTimeline</a>
                            </li>
                            <li class="slds-nav-vertical__item">
                                <a href="/listview" class="slds-nav-vertical__action" aria-describedby="entity-header">ListView</a>
                            </li>
                            <li class="slds-nav-vertical__item">
                                <a href="/offerdetailsspa" class="slds-nav-vertical__action" aria-describedby="entity-header">OfferDetailsSPA</a>
                            </li>
                            <li class="slds-nav-vertical__item">
                                <a href="/relatedlist" class="slds-nav-vertical__action" aria-describedby="entity-header">RelatedList</a>
                            </li>
                            <li class="slds-nav-vertical__item">
                                <a href="/twitterexplorer" class="slds-nav-vertical__action" aria-describedby="entity-header">TwitterExplorer</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>



            <!-- End: Vertical Navigation Menu -->
        </nav>

        <script type="text/javascript">

        $(document).ready(function(){
            $("li").click(function(){
            //$("li").hide();
            //$("li").removeClass("slds-nav-vertical__item");
            //$("li").addClass("slds-nav-vertical__item slds-is-active");
            });

        });

    

        </script>