<!DOCTYPE html>
<html lang="en">
<head>

  <!-- References a Handlebars partial in views/partials/head.handlebars -->
  {{>head}}

  <title>Project Sparkle</title>
</head>

<div class="slds-grid_align-center"> 
<body>
    
    <div class="slds-wrap ">
        <div class="slds-col slds-size--1-of-1">
            {{>h_navbar}}
        </div>
        <br/>  <br/>   <br/> <br/>   <br/> 
        <div class="slds-col slds-size--1-of-2"> 
        {{>v_navbar}}
        </div>
        <main class="slds-col slds-size--1-of-2">
            <!-- Main Body Component -->

            {{{body}}}

            <!-- End: Main Body Component -->
        </main>
        <section class="slds-col slds-size--1-of-1">
            <!-- Footer -->

           

            <!-- End: Footer -->
        </section>
    </div>
</body>
</div>













</html>