<!DOCTYPE html>
<html lang="en">
<head>

  <!-- References a Handlebars partial in views/partials/head.handlebars -->
  {{>head}}

  <title>Project Sparkle</title>
</head>

<script src="https://sparklelightningcommunity.force.com/lightning/lightning.out.js"></script>

<div> 
<body>

    <div class="slds-grid slds-wrap">
        <div class="slds-size--1-of-1">{{>h_navbar}}</div>
        <div class="slds-size--1-of-1 slds-medium-size--2-of-6 slds-large-size--2-of-12">{{>v_navbar}}</div>
        <div class="slds-size--1-of-1 slds-medium-size--4-of-6 slds-large-size--10-of-12">{{{body}}}</div>
    </div>

</body>
</div>

</html>