<div style="padding-top: 5.2rem">


    <script>
        $Lightning.use("c:DynamicSearch_LtngOut",    // name of the Lightning app
            function () {                  // Callback once framework and app loaded
                $Lightning.createComponent(
                    "c:DynamicSearch", // top-level component of your app
                    {
                        "objectApiName": "Candidate__c"
                    },                  // attributes to set on the component when created
                    "lightningLocator",   // the DOM location to insert the component
                    function (cmp) {
                        // callback when component is created and active on the page
                    }
                );

                

            },
            'https://sparklelightningcommunity.force.com/'  // Community endpoint
        );

    
        
        function rerenderLC( arrayIndex, newValue){
            var attribName = 'attrib' + (arrayIndex + 1);
            var testLtngOutWindow = window.opener.$A.get("e.c:ltngOut_Event");

            var myExternalEvent;
            if(window.opener.$A &&
                (myExternalEvent = window.opener.$A.get("e.c:ltngOut_Event"))) {
                    myExternalEvent.setParams({WhoFired:'SparklePublicWebsite - DynamicSearch'});
                    myExternalEvent.setParams({attribName:newValue});
                    myExternalEvent.fire();
                }

        }
        
    </script>

            <div class="slds-grid slds-wrap">
                <div class="slds-col slds-size_1-of-1 slds-medium-size_12-of-12 slds-large-size_12-of-12">
                    <div class="lcs-docpage-header">DynamicSearch</div>
                </div>
                <div class="slds-col slds-grid slds-size_1-of-1">
                <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_4-of-12">
                    <div class="slds-box slds-theme_shade">
                        <div id="lightningLocator"  />
                    </div>
                </div>
                <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_4-of-12">
                    
                   <div class="slds-form slds-form_stacked">
                        <h2 id="entity-header" class="slds-nav-vertical__title slds-text-title_caps">Attributes</h2>
                        {{#each attributes}}
                            <div class="slds-form-element">
                                <label class="slds-form-element__label" for="input-id-01">{{attrs.name}}</label>
                                <div class="slds-form-element__control">
                                    <input type="text" id="input-id-01" class="slds-input" style="max-width: 70%" value="{{attrs.default}}" onchange="rerenderLC({{@index}}, this.value)" />
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
                </div>
                <div class="slds-col slds-grid slds-size_1-of-1">
                    <div class="slds-col slds-size_1-of-1">
                        <div class="slds-col slds-size--12-of-12" style="padding-top: 1.2rem; font-size: 1.05rem; font-weight: 300;line-height: 1.7142857143;color: #5876a3;">
                            {{{description}}}
                        </div>
                    </div>
                </div>
            </div>


            
        </div>



    </div>
