<div>


    

    <script>
    $Lightning.use("c:DynamicSearch_LtngOut",    // name of the Lightning app
        function() {                  // Callback once framework and app loaded
            $Lightning.createComponent(
                "c:CandidateReferrals", // top-level component of your app
                { 
                    "recordId": "a01j000000II79iAAD"
                },                  // attributes to set on the component when created
                "lightningLocator",   // the DOM location to insert the component
                function(cmp) {
                    // callback when component is created and active on the page
                }
            );
        },
        'https://sparklelightningcommunity.force.com/'  // Community endpoint
    );
</script>


<div class="lcs-docpage-header">

        Referrals List

        

    </div>

<div id="lightningLocator"/>

</div>